/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
}

.text-align_center {
  text-align: center;
}

.color_white {
  color: #fff !important;
}

p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

button:hover {
  cursor: pointer;
}

img:hover {
  cursor: not-allowed;
}

.white_button {
  border: none;
  font-weight: 600;
  font-size: 1.8rem;
  color: #005fac;
  padding: 1.8rem 3rem;
  border-radius: 5px;
  background-color: #fff;
}

.white_button:hover {
  box-shadow: 0 3px 8px 3px #004288;
}

.blue_button {
  border: none;
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #005fac;
  color: #fff;
  padding: 1.8rem 3rem;
  border-radius: 5px;
}

.blue_button:hover {
  background-color: #0990ff;
}

.section_title {
  font-weight: 700;
  font-size: 3.5rem;
  color: #151414;
}
